<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/kep_layout}">

    <body>
        <section layout:fragment="content">
            <h2>추천 도서</h2>
            <div class="container">
                <article class="item">
                    <div class="card">
                        <div class="bookCover">
                            <a href="detail.html" th:href="@{/detail}">
                                <img alt="" src="" width="100px" height="150px">
                            </a>
                        </div>
                        <div class="bookDesc">
                            <div class="bookTitle">DOMAIN DRIVEN DESIGN</div><br>
                            <div class="bookAuthor">에릭에반스 | 위키북스</div>
                        </div>
                    </div>
                </article>
                <article class="item">
                    <div class="card">
                        <div class="bookCover">
                            <a href="detail.html" th:href="@{/detail}">
                                <img alt="" src="" width="100px" height="150px">
                            </a>
                        </div>
                        <div class="bookDesc">
                            <div class="bookTitle">슬기로운KEP생활</div><br>
                            <div class="bookAuthor">andrew | KEP</div>
                        </div>
                    </div>
                </article>
                <article class="item">
                    <div class="card">
                        <div class="bookCover">
                            <a href="detail.html" th:href="@{/detail}">
                                <img alt="" src="" width="100px" height="150px">
                            </a>
                        </div>
                        <div class="bookDesc">
                            <div class="bookTitle">클라우드정복</div><br>
                            <div class="bookAuthor">언이 | KEP</div>
                        </div>
                    </div>
                </article>
                <article class="item">
                    <div class="card">
                        <div class="bookCover">
                            <a href="detail.html" th:href="@{/detail}">
                                <img alt="" src="" width="100px" height="150px">
                            </a>
                        </div>
                        <div class="bookDesc">
                            <div class="bookTitle">DOMAIN DRIVEN DESIGN</div><br>
                            <div class="bookAuthor">에릭에반스 | 위키북스</div>
                        </div>
                    </div>
                </article>
                <article class="item">
                    <div class="card">
                        <div class="bookCover">
                            <a href="detail.html" th:href="@{/detail}">
                                <img alt="" src="" width="100px" height="150px">
                            </a>
                        </div>
                        <div class="bookDesc">
                            <div class="bookTitle">슬기로운KEP생활</div><br>
                            <div class="bookAuthor">andrew | KEP</div>
                        </div>
                    </div>
                </article>
                <article class="item">
                    <div class="card">
                        <div class="bookCover">
                            <a href="detail.html" th:href="@{/detail}">
                                <img alt="" src="" width="100px" height="150px">
                            </a>
                        </div>
                        <div class="bookDesc">
                            <div class="bookTitle">클라우드정복</div><br>
                            <div class="bookAuthor">언이 | KEP</div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </body>

</html>