<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <body>
        <header th:fragment="headerFragment">
            <h2>
                <a href="/">KEP 도서관</a>
            </h2>
            <nav>
                <img alt="" src="" width="50px" height="50px">
                <select class="searchSelect" id="searchType" th:object="${searchTypes}">
                    <option th:each="searchType : ${searchTypes}"
                            th:value="${searchType}"
                            th:text="${searchType}"></option>
                </select>
                <label for="searchType">검색 유형 선택</label>
                <input class="searchBox" id="searchText" type="text" size="30">
                <label for="searchText">도서명 입력</label>
                <button class="searchButton" id="searchButton" type="button">도서 검색</button>
            </nav>
<!--            <script>-->
<!--                $("#searchBtn").click( function(){-->
<!--                    let searchType = $("#searchType").val();-->
<!--                    let searchData = $("#searchText").val();-->
<!--                    console.log("searchBtn.click" + "/" + searchType + "/" + searchData);-->
<!--                    $.ajax({-->
<!--                        url: "/result/" + searchType + "/" + searchData,-->
<!--                        method: "GET",-->
<!--                        beforeSend: function(xhr) {-->
<!--                            xhr.setRequestHeader("jwt_token", $.cookie("jwt_token"));-->
<!--                        },-->
<!--                        success: function(data, testStatus, request) {-->
<!--                            console.log("data : " + data);-->
<!--                            $("#result").html(data);-->
<!--                        },-->
<!--                        error: function(data, textStatus, error){-->
<!--                            console.log("error:" + textStatus +  "/" + error);-->
<!--                        }-->
<!--                    });-->
<!--                })-->
<!--            </script>-->
        </header>
    </body>

</html>