<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <body>
        <header th:fragment="headerFragment">
            <h2>
                <a href="/">KEP 도서관</a>
            </h2>
            <nav>
                <img alt="" src="" width="50px" height="50px">
                <select class="searchSelect" id="searchType" th:object="${searchTypes}">
                    <option th:each="searchType : ${searchTypes}"
                            th:value="${searchType}"
                            th:text="${searchType}"></option>
                </select>
                <label for="searchType">검색 유형 선택</label>
                <input class="searchBox" id="searchText" type="text" size="30">
                <label for="searchText">도서명 입력</label>
                <button type="button" id="searchButton" class="searchButton"
                        th:onclick="|location.href='@{/result}'|">도서 검색</button>
            </nav>
        </header>
    </body>

</html>